/*
    components: input.scss
*/

.input {
  border: none;
  height: 50px;
  color: $white;
  &:focus {
    outline: none;
  }

  &--primary {
    background-color: $blue-d;
  }
  &--secondary {
    background-color: $blue-d;
    border-radius: 10px;
    width: 350px;
    padding: 12px;
  }
}
