/*
    components: layout.scss
*/

.l {
  &__main {
    padding-left: 165px;
    padding-right: 165px;
    min-height: 100vh;
    height: 100%;
    background-color: $black;
    background-image: url("../../../assets/images/background.png");
    display: flex;
    flex-direction: column;
  }
}
