/*
    components: nav.scss
*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: $blue-d;

  &__logo {
    background: -webkit-linear-gradient(90deg, #7afe63 -0.49%, #018bf3 103.4%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

  &__location {
    text-align: center;
    &--line {
      height: 1px;
      width: 100px;
      background-image: linear-gradient(90deg, #7afe63 -0.49%, #018bf3 103.4%);
    }
  }
}
